package view

templ Button() {
    <div class="active:translate-y-0.5 group">
        @ShadowBox() {
            <div class="bg-primary py-3 px-5 group-hover:bg-fg group-hover:text-backdrop">
                {children...}
            </div>
        }
    </div>
}