package view

templ ShadowBox() {
    <div class="relative">
        <div class="w-full h-full top-2 right-2 bg-subtle absolute dither"></div>
        <div class="bg-backdrop relative mb-2">
            { children... }
        </div>
    </div>
}