package view

templ Socials() {
	<div class="flex gap-5 items-end">
		<div class="w-12 h-12">
			<a href="https://github.com/keeganbeaulieu">
				<img src="/static/github-mark-white.png"/>
			</a>
		</div>
		<span class="text-subtle">.</span>
		<div class="w-12 h-12">
			<a href="https://www.linkedin.com/in/keegan-beaulieu/">
				<img src="/static/In-White-128@2x.png"/>
			</a>
		</div>
	</div>
}
