@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    src:
        local("JetBrains Mono"),
        url("/static/JetBrainsMono-VariableFont_wght.ttf");
}

.mono {
    font-family: "JetBrains Mono", "Lucida Console", monospace;
    font-variant-ligatures: none;
    letter-spacing: 1px;
}

.text-justify-single {
    text-align: justify;
    text-align-last: justify;
}

.dither {
    mask-image: radial-gradient(black 0.5px, transparent 0.5px);
    mask-size: 4px 4px;
}