@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    src:
        local("JetBrains Mono"),
        url("/static/JetBrainsMono-VariableFont_wght.ttf");
}

.mono {
    font-family: "JetBrains Mono", "Lucida Console", monospace;
    font-variant-ligatures: none;
    letter-spacing: 1px;
}

.text-justify-single {
    text-align: justify;
    text-align-last: justify;
}

.dither {
    mask-image: radial-gradient(black 0.5px, transparent 0.5px);
    mask-size: 4px 4px;
}

@media (min-width: 768px) {
    input,
    textarea {
        caret-color: transparent !important;
    }
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.caret-holder {
    word-wrap: break-word;

    span {
        animation: blink 1s steps(1, end) infinite;
    }
}

.project-details-maximize {
    left: 50%;
    top: 50%;
    width: calc(100vw - 2rem);
    height: calc(100vh - 1rem);
    transform: translateX(-50%) translateY(-50%);
    max-width: 1200px;
}