package view

import "main/view/components"

templ Contact() {
    <div class="w-full h-full flex flex-col items-center relative">
        <div class="absolute top-0 m-5">
            @view.NameLogo()
        </div>
    </div>
}