package view

import "main/view/components"

templ Footer() {
    <div class="container m-auto p-32">
        @view.Socials()
        <div class="mt-5">
            <span class="text-faded">&sol;&sol;</span>
            keegan.beaulieu895<span class="text-secondary">&commat;</span>gmail.com
        </div>
    </div>
}
